.image {
  width: 50px;
  margin-right: 10px;
}

.description {
  display: inline-block;
}

ul {
  list-style-type: none;
}

.tagContainer {
  /* display: flex; */
  text-align: left;
  width: 800px;
  /* align-content: flex-start; */
}

.list-group-item {
  margin: 0 auto;
}
